[package]
name = "matrix-rain"
version = "0.1.0"
edition = "2021"

[dependencies]
crossterm = "0.29"
rand = "0.10"

[target.'cfg(windows)'.dependencies]
windows-sys = { version = "0.61.2", features = [
    "Win32_System_Console",
    "Win32_Foundation",
] }

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
panic = "abort"
strip = true
